
<H1>Create New User</H1>
<form action="/users/create", method="POST">
    <input type="text",placeholder="Enter the name",name="name">
    <br>
    <input type="text",placeholder="Enter the age",name="age">
    <br>
    <button>Create new user</button>
</form>